spring:
  application:
    name: PersonalFinanceApi
  
  datasource:
    url: jdbc:postgresql://dpg-d4uquf63jp1c73e8dhug-a.oregon-postgres.render.com:5432/smartaggregator
    username: smartaggregator_user
    password: m9up3D4FTTQKpEWB16Ndo3WkzL7xyQTo
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  address: 0.0.0.0