spring:
  application:
    name: PersonalFinanceApi
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:testdb}
    username: ${SPRING_DATASOURCE_USERNAME:sa}
    password: ${SPRING_DATASOURCE_PASSWORD:}
  
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:create-drop}
    show-sql: false
  
  h2:
    console:
      enabled: true

server:
  port: ${PORT:8080}
  address: 0.0.0.0